#muter-toolbar-palette-button {
  list-style-image: url(chrome://muter/skin/16/button.png) !important;
}
#muter-toolbar-palette-button[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
  list-style-image: url(chrome://muter/skin/16/inverted/button.png) !important;
}
#muter-toolbar-palette-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #muter-toolbar-palette-button {
    list-style-image: url(chrome://muter/skin/32/button.png) !important;
}

#muter-toolbar-palette-button.mute-enabled {
  list-style-image: url(chrome://muter/skin/16/button-muted.png) !important;
}
#muter-toolbar-palette-button.mute-enabled[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
  list-style-image: url(chrome://muter/skin/16/inverted/button-muted.png) !important;
}
#muter-toolbar-palette-button.mute-enabled[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #muter-toolbar-palette-button.mute-enabled {
    list-style-image: url(chrome://muter/skin/32/button-muted.png) !important;
}
